<div class="tm1-addUser">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-plus"></i>
         <span translate="ADDUSER"></span>
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row pt-2 pb-2">
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-5">
                     <div class="card">
                        <div class="card-header">
                           <label translate="ADDUSERHEADINGGENERAL"></label>
                        </div>
                        <div class="card-body pt-2" >
                           <div class="row">
                              <div class="col-sm-4">
                                 <span class="input-group-prepend">
                                    <label class="control-label" translate="ADDUSERINPUTNAME"></label>
                                 </span>
                              </div>
                              <div class="col-sm-8">
                                 <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" style="min-height: 33.5px;" placeholder="{{newUser.name}}" ng-model="newUser.name">
                                 </div>
                              </div>
                           </div>

                           <div class="row pt-2">
                              <div class="col-sm-4">
                                 <span class="input-group-prepend">
                                    <label class="control-label" translate="ADDUSERINPUTALIAS"></label>
                                 </span>
                              </div>
                              <div class="col-sm-8">
                                 <div class="input-group">
                                    <input ng-disabled="!newUser.name.length > 0" type="text" class="form-control form-control-sm" style="min-height: 33.5px;" placeholder="{{newUser.alias}}" ng-model="newUser.alias">
                                 </div>
                              </div>
                           </div>

                           <div class="row pt-2">
                              <div class="col-sm-4">
                                 <span class="input-group-prepend">
                                    <label class="control-label"  translate="ADDUSERINPUTPASSWORD"></label>
                                 </span>
                              </div>
                              <div class="col-sm-8">
                                 <div class="input-group">
                                    <input ng-disabled="!newUser.name.length > 0 || !newUser.alias.length > 0" ng-show="view.hidePassword" type="password" class="form-control form-control-sm" style="min-height: 33.5px;" placeholder="{{newUser.password}}" ng-model="newUser.password">
                                    <input ng-disabled="!newUser.name.length > 0 || !newUser.alias.length > 0" ng-show="!view.hidePassword" type="text" class="form-control form-control-sm" style="min-height: 33.5px;" placeholder="{{newUser.password}}" ng-model="newUser.password">
                                    <span class="input-group-append">
                                       <button ng-disabled="!newUser.password.length" class="btn btn-secondary" title="{{'PASSWORDSHOW' | translate}}" ng-click="view.hidePassword = !view.hidePassword">
                                          <i ng-show="view.hidePassword" class="fa fa-fw fa-eye"></i>
                                          <i ng-show="!view.hidePassword" class="fa fa-fw fa-eye-slash"></i>
                                       </button>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-7  pl-0">
                     <div class="card">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-3 pr-0" >
                                 <label translate="ADDUSERHEADINGADDEDGROUPS"></label>
                              </div>
                              <div class="col-sm-4 pl-0 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-disabled="!newUser.name.length > 0 || !newUser.alias.length > 0 || !newUser.password.length > 0"
                                    ng-model="selectedUser"
                                    uib-typeahead="name as User.Name for User in usersWithGroups | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneUserGroupsToNewUser($item)"
                                    placeholder="{{'ADDUSERCLONEUSER' | translate}}">
                              </div>
                              <div class="col-sm-4  pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-disabled="!newUser.name.length > 0 || !newUser.alias.length > 0 || !newUser.password.length > 0"
                                    ng-model="selectedGroup"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualGroupToNewUser($item)"
                                    placeholder="{{'ADDUSERADDGROUP' | translate}}">
                              </div>
                              <div class="col-sm-1 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'REMOVEGROUPS' | translate}}" ng-click="newUser.groupsAssigned = [];">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="group in newUser.groupsAssigned | orderBy:'Name'" >
                                             <div style="float:left;" class="mt-1">
                                                <div class="input-group">
                                                   <div class="badge pl-0 pr-0" style="cursor: default; user-select: none;">
                                                      <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeGroupFromNewUser(group.Name)" title="{{'REMOVEGROUP' | translate}}"></i></a>
                                                   </div>
                                                   <div class="badge mr-1" ng-style="generateHSLColour(group.Name)" style="cursor : default;">
                                                      {{group.Name}}
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
   
   <div class="modal-footer">
      <div class="row">
         <div class="col-md-12">
            <button ng-class="{'btn btn-success':view.messageSuccess,'btn btn-warning':view.messageWarning}" ng-if="view.message">
               <span ng-class="{'fa fa-check':view.messageSuccess,'fa fa-warning':view.messageWarning}" aria-hidden="true"></span><span>{{view.message}}</span>
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <button class="btn action ng-scope" ng-click="closeThisDialog()" translate="CANCEL"></button>
            <button class="btn btn-primary action ng-scope" ng-click="createUser()" translate="CREATEUAG"></button>
         </div>
      </div>

   </div>


</div>