<div class="tm1-auditUser">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-pencil-square-o"></i>
         <span translate="AUDITUSERHEADING"></span>
         : {{view.name}}
            
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-12 pt-2">
               <uib-tabset active="0">
                  <uib-tab index="0" heading="{{'AUDITUSERSECURITYTABAPPLICATIONS' | translate}}" select="getApplicationSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="AUDITUSERSECURITYTABAPPLICATIONS"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterApplication" placeholder="{{'SEARCHAPPLICATION' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterApplication.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterApplication=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead style="display: block;">
                                                <th style="min-width: 400px;" translate="AUDITUSERNAME"></th>
                                                <th style="width: 100%;" translate="AUDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody style="display: block; height:400px; overflow-y:auto; width:100%; overflow-x: auto;">
                                                <tr ng-repeat="application in applications | filter:applicationFilter track by application.name">
                                                   <td style="min-width: 400px;">
                                                      {{application.name}}
                                                   </td>
                                                   <td style="width: 100%;">
                                                      <div ng-repeat = "group in application.groupsWithAccess" ng-class="securityAccessColourMapping(group.access)" class="ml-1" style="cursor: default;"> 
                                                         <div>
                                                            {{group.name}}:{{group.access}}
                                                         </div>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="1" heading="{{'AUDITUSERSECURITYTABCUBESANDDIMENSIONS' | translate}}" ng-click="getCubeSecurityPerUser(); getDimesionSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="AUDITUSERSECURITYTABCUBES"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterCube" placeholder="{{'SEARCHCUBE' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterCube.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterCube=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead style="display: block;">
                                                <th style="min-width: 400px;" translate="AUDITUSERNAME"></th>
                                                <th style="width: 100%;" translate="AUDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody style="display: block; height:120px; overflow-y:auto; width:100%; overflow-x: auto;">
                                                <tr ng-repeat="cube in cubes | filter:cubeFilter track by cube.name">
                                                   <td style="min-width: 400px;" ng-class="{'bg-secondary' : cube.name == cubeSelected}">
                                                      <a href ng-click="getDimensionsPerCube(cube.name);"
                                                         ng-class="{'text-light font-weight-bold' : cube.name == cubeSelected}"
                                                         title="{{'AUDITUSERFILTERDIMENSIONS' | translate}}">{{cube.name}}</a>
                                                   </td>
                                                   <td style="width: 100%" ng-class="{'bg-secondary' : cube.name == cubeSelected}">
                                                      <div ng-repeat = "group in cube.groupsWithAccess" ng-class="securityAccessColourMapping(group.access)" class="ml-1" style="cursor: default;">
                                                         <div>
                                                            {{group.name}}:{{group.access}}
                                                         </div>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="row pt-3">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="AUDITUSERSECURITYTABDIMENSIONS"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterDimension" placeholder="{{'SEARCHDIMENSION' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterDimension.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterDimension=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead style="display: block;">
                                                <th style="min-width: 400px;" translate="AUDITUSERNAME"></th>
                                                <th style="width: 100%;" translate="AUDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody style="display: block; height:200px; overflow-y:auto; width:100%; overflow-x: auto;">
                                                <tr ng-repeat="dimension in dimensions | filter:dimensionFilter track by dimension.name">
                                                   <td style="min-width: 400px;">
                                                      {{dimension.name}}
                                                   </td>
                                                   <td style="width: 100%;">
                                                      <div ng-repeat = "group in dimension.groupsWithAccess" ng-class="securityAccessColourMapping(group.access)" class="ml-1" style="cursor: default;">
                                                         <div>
                                                            {{group.name}}:{{group.access}}
                                                         </div>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="2" heading="{{'AUDITUSERSECURITYTABPROCESSES' | translate}}" ng-click="getProcessSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="AUDITUSERSECURITYTABPROCESSES"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterProcess" placeholder="{{'SEARCHPROCESS' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterProcess.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterProcess=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead style="display: block;">
                                                <th style="min-width: 400px;" translate="AUDITUSERNAME"></th>
                                                <th style="width:100%;" translate="AUDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody style="display: block; height:400px; overflow-y: auto; width: 100%; overflow-x: auto;">
                                                <tr ng-repeat="process in processes | filter:processFilter track by process.name">
                                                   <td style="min-width: 400px;">
                                                      {{process.name}}
                                                   </td>
                                                   <td style="width: 100%;">
                                                      <div ng-repeat = "group in process.groupsWithAccess" ng-class="securityAccessColourMapping(group.access)" class="ml-1" style="cursor: default;">
                                                         <div>
                                                            {{group.name}}:{{group.access}}
                                                         </div>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="3" heading="{{'AUDITUSERSECURITYTABCHORES' | translate}}" ng-click="getChoreSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="AUDITUSERSECURITYTABCHORES"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterChore" placeholder="{{'SEARCHCHORE' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterChore.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterChore=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead style="display: block;">
                                                <th style="min-width: 400px;" translate="AUDITUSERNAME"></th>
                                                <th style="width: 100%;" translate="AUDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody style = "display: block; height: 400px; overflow-y: auto; width: 100%; overflow-x: auto;">
                                                <tr ng-repeat="chore in chores | filter: choreFilter track by chore.name">
                                                   <td style="min-width: 400px;">
                                                      {{chore.name}}
                                                   </td>
                                                   <td style="width: 100%;">
                                                      <div ng-repeat = "group in chore.groupsWithAccess" ng-class="securityAccessColourMapping(group.access)" class="ml-1" style="cursor: default;">
                                                         <div>
                                                            {{group.name}}:{{group.access}}
                                                         </div>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
               </uib-tabset>
            </div>
         </div>
      </div>
   </div>
   
   <div class="modal-footer">
      <div class="row">
         <div class="col-sm-12">
            <button ng-class="{'btn btn-success' : view.messageSuccess, 'btn btn-warning' : view.messageWarning}" ng-if="view.message">
               <span ng-class="{'fa fa-check' : view.messageSuccess,'fa fa-warning' : view.messageWarning}" aria-hidden="true"></span><span>{{view.message}}</span>
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <button class="btn action ng-scope" ng-click="closeThisDialog()" translate="BACKUAG"></button>
         </div>
      </div>
   </div>


</div>