<div class="tm1-editUser">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-pencil-square-o"></i>
         <span translate="EDITGROUPHEADING"></span>
         : {{newGroup.name}}
            
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-12 pt-2">
               <uib-tabset active="0">
                  <uib-tab index="0" heading="{{'EDITGROUPSECURITYTABAPPLICATIONS' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupApplication"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupApplications(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5 pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleApplication"
                                    uib-typeahead="name as application.Name for application in applicationsList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup,'applications', $item)"
                                    placeholder="{{'ADDGROUPAPPLICATION' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVEAPPLICATIONS' | translate}}" ng-click="newGroup.applications = [];">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:100px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="application in newGroup.applications | orderBy:'name'" >
                                             <div style="float:left;">
                                                <div class="badge ml-1" ng-class="securityAccessColourMapping(application.access)" class="ml-1" style="cursor: default; user-select: none;">
                                                   <a><i class="fa fa-arrow-up" ng-click="previousAccess(newGroup,'applications', application.name, application.access)" title="{{'ADDGROUPPREVIOUSACCESS' | translate}}"></i></a>
                                                   <a><i class="fa fa-arrow-down" ng-click="nextAccess(newGroup,'applications', application.name, application.access)" title="{{'ADDGROUPNEXTACCESS' | translate}}"></i></a>
                                                   {{application.name}}:{{application.access}}
                                                   <a><i class="fa fa-fw fa-remove" ng-click="removeTm1SectionItemFromNewGroup(newGroup,'applications', application.name)" title="{{'REMOVEGROUP' | translate}}"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="1" heading="{{'EDITGROUPSECURITYTABCUBES' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupCube"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupCubes(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5  pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleCube"
                                    uib-typeahead="name as cube.Name for cube in cubesList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'cubes', $item)"
                                    placeholder="{{'ADDGROUPCUBE' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary" title="{{'ADDGROUPREMOVECUBES' | translate}}" ng-click="newGroup.cubes = [];">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:100px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="cube in newGroup.cubes | orderBy:'name'" >
                                             <div style="float:left;">
                                                <div class="badge badge-md ml-1" ng-class="securityAccessColourMapping(cube.access)" class="ml-1" style="cursor: default; user-select: none;">
                                                   <a><i class="fa fa-arrow-up" ng-click="previousAccess(newGroup, 'cubes', cube.name, cube.access)" title="{{'ADDGROUPPREVIOUSACCESS' | translate}}"></i></a>
                                                   <a><i class="fa fa-arrow-down" ng-click="nextAccess(newGroup, 'cubes', cube.name, cube.access)" title="{{'ADDGROUPNEXTACCESS' | translate}}"></i></a>
                                                   {{cube.name}}:{{cube.access}}
                                                   <a><i class="fa fa-fw fa-remove" ng-click="removeTm1SectionItemFromNewGroup(newGroup,'cubes', cube.name)" title="{{'REMOVEGROUP' | translate}}"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="2" heading="{{'EDITGROUPSECURITYTABDIMENSIONS' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupDimension"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupDimensions(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5 pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleDimension"
                                    uib-typeahead="name as dimension.Name for dimension in dimensionsList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'dimensions', $item)"
                                    placeholder="{{'ADDGROUPDIMENSION' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVEDIMENSIONS' | translate}}" ng-click="newGroup.dimensions = [];">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:100px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="dimension in newGroup.dimensions | orderBy:'name'" >
                                             <div style="float:left;">
                                                <div class="badge ml-1" ng-class="securityAccessColourMapping(dimension.access)" class="ml-1" style="cursor: default; user-select: none;">
                                                   <a><i class="fa fa-arrow-up" ng-click="previousAccess(newGroup,'dimensions', dimension.name, dimension.access)" title="{{'ADDGROUPPREVIOUSACCESS' | translate}}"></i></a>
                                                   <a><i class="fa fa-arrow-down" ng-click="nextAccess(newGroup,'dimensions', dimension.name, dimension.access)" title="{{'ADDGROUPNEXTACCESS' | translate}}"></i></a>
                                                   {{dimension.name}}:{{dimension.access}}
                                                   <a><i class="fa fa-fw fa-remove" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'dimensions', dimension.name)" title="{{'REMOVEGROUP' | translate}}"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="3" heading="{{'EDITGROUPSECURITYTABPROCESSES' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupProcess"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupProcesses(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5  pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleProcess"
                                    uib-typeahead="name as process.Name for process in processesList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'processes', $item)"
                                    placeholder="{{'ADDGROUPPROCESS' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVEPROCESSES' | translate}}" ng-click="updateGroup.processes = [];">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:100px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="process in newGroup.processes | orderBy:'name'" >
                                             <div style="float:left;">
                                                <div class="badge ml-1" ng-class="securityAccessColourMapping(process.access)" class="ml-1" style="cursor: default; user-select: none;">
                                                   <a><i class="fa fa-arrow-up" ng-click="previousAccess(newGroup, 'processes', process.name, process.access)" title="{{'ADDGROUPPREVIOUSACCESS' | translate}}"></i></a>
                                                   <a><i class="fa fa-arrow-down" ng-click="nextAccess(newGroup, 'processes', process.name, process.access)" title="{{'ADDGROUPNEXTACCESS' | translate}}"></i></a>
                                                   {{process.name}}:{{process.access}}
                                                   <a><i class="fa fa-fw fa-remove" ng-click="removeTm1SectionItemFromUpdateGroup(newGroup, 'processes', process.name)" title="{{'REMOVEGROUP' | translate}}"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="4" heading="{{'EDITGROUPSECURITYTABCHORES' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupChore"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupChores(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5 pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleChore"
                                    uib-typeahead="name as chore.Name for chore in choresList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'chores',$item)"
                                    placeholder="{{'ADDGROUPCHORE' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVECHORES' | translate}}" ng-click="newGroup.chores = [];">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:100px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="chore in newGroup.chores | orderBy:'name'" >
                                             <div style="float:left;">
                                                <div class="badge ml-1" ng-class="securityAccessColourMapping(chore.access)" class="ml-1" style="cursor: default; user-select: none;">
                                                   <a><i class="fa fa-arrow-up" ng-click="previousAccess(newGroup,'chores', chore.name, chore.access)" title="{{'ADDGROUPPREVIOUSACCESS' | translate}}"></i></a>
                                                   <a><i class="fa fa-arrow-down" ng-click="nextAccess(newGroup,'chores', chore.name, chore.access)" title="{{'ADDGROUPNEXTACCESS' | translate}}"></i></a>
                                                   {{chore.name}}:{{chore.access}}
                                                   <a><i class="fa fa-fw fa-remove" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'chores', chore.name)" title="{{'REMOVEGROUP' | translate}}"></i></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
               </uib-tabset>
            </div>
         </div>
      </div>
   </div>
   
   <div class="modal-footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <div class="badge ml-1" ng-class="securityAccessColourMapping('NONE')" class="ml-1" style="cursor: default; user-select: none;">NONE</div>
               <div class="badge ml-1" ng-class="securityAccessColourMapping('READ')" class="ml-1" style="cursor: default; user-select: none;">READ</div>
               <div class="badge ml-1" ng-class="securityAccessColourMapping('WRITE')" class="ml-1" style="cursor: default; user-select: none;">WRITE</div>
               <div class="badge ml-1" ng-class="securityAccessColourMapping('RESERVE')" class="ml-1" style="cursor: default; user-select: none;">RESERVE</div>
               <div class="badge ml-1" ng-class="securityAccessColourMapping('LOCK')" class="ml-1" style="cursor: default; user-select: none;">LOCK</div>
               <div class="badge ml-1" ng-class="securityAccessColourMapping('ADMIN')" class="ml-1" style="cursor: default; user-select: none;">ADMIN</div>
            </div>
            <div class="col-md-4">
               <button ng-class="{'btn btn-success':view.messageSuccess,'btn btn-warning':view.messageWarning}" ng-if="view.message">
                  <span ng-class="{'fa fa-check':view.messageSuccess,'fa fa-warning':view.messageWarning}" aria-hidden="true"></span><span>{{view.message}}</span>
               </button>
            </div>
            <div class="col-md-4 pr-0">
               <div class="float-right">
                  <button class="btn btn-primary action ng-scope" ng-disabled="!newGroup.name.length > 0" ng-click="updateGroup()" translate="CREATEUAG"></button>                     
                  <button class="btn action ng-scope " ng-click="closeThisDialog()" translate="CANCEL"></button>
               </div>
            </div>
         </div>
      </div>


   </div>




</div>