<div class="tm1-editUser">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-pencil-square-o"></i>
         <span translate="EDITUSERHEADING"></span>
         : {{view.name}}
            
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">

         <div class="row mb-2">
            <div class="col-sm-12 pt-2">
               <uib-tabset active="0">
                  <uib-tab index="0" heading="{{'EDITUSERSECURITYTABAPPLICATIONS' | translate}}" select="getApplicationSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="EDITUSERSECURITYTABAPPLICATIONS"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterApplication" placeholder="{{'SEARCHAPPLICATION' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterApplication.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterApplication=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead>
                                                <th translate="EDITUSERNAME"></th>
                                                <th translate="EDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody >
                                                <!--style="display:block; " height:200px; overflow-y: auto; overflow-x: hidden; -->
                                                <tr ng-repeat="application in applications | filter:applicationFilter track by application.name">
                                                   <td>
                                                      {{application.name}}
                                                   </td>
                                                   <td>
                                                      <div ng-repeat = "group in application.groupsWithAccess" class="badge ml-1" ng-style="generateHSLColour(group)" style="cursor: default;">
                                                         {{group}}
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="1" heading="{{'EDITUSERSECURITYTABCUBESANDDIMENSIONS' | translate}}" ng-click="getCubeSecurityPerUser(); getDimesionSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="EDITUSERSECURITYTABCUBES"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterCube" placeholder="{{'SEARCHCUBE' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterCube.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterCube=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead>
                                                <th translate="EDITUSERNAME"></th>
                                                <th translate="EDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody >
                                                <!--style="display:block; " height:200px; overflow-y: auto; overflow-x: hidden; -->
                                                <tr ng-repeat="cube in cubes | filter:cubeFilter track by cube.name">
                                                   <td>
                                                      <a href ng-click="getDimensionsPerCube(cube.name)" title="{{'EDITUSERFILTERDIMENSIONS' | translate}}">{{cube.name}}</a>
                                                   </td>
                                                   <td>
                                                      <div ng-repeat = "group in cube.groupsWithAccess" class="badge ml-1" ng-style="generateHSLColour(group)" style="cursor: default;">
                                                         {{group}}
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="EDITUSERSECURITYTABDIMENSIONS"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterDimension" placeholder="{{'SEARCHDIMENSION' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterDimension.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterDimension=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead>
                                                <th translate="EDITUSERNAME"></th>
                                                <th translate="EDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody >
                                                <!--style="display:block; " height:200px; overflow-y: auto; overflow-x: hidden; -->
                                                <tr ng-repeat="dimension in dimensions | filter:dimensionFilter track by dimension.name">
                                                   <td>
                                                      {{dimension.name}}
                                                   </td>
                                                   <td>
                                                      <div ng-repeat = "group in dimension.groupsWithAccess" class="badge ml-1" ng-style="generateHSLColour(group)" style="cursor: default;">
                                                         {{group}}
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="2" heading="{{'EDITUSERSECURITYTABPROCESSES' | translate}}" ng-click="getProcessSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="EDITUSERSECURITYTABPROCESSES"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterProcess" placeholder="{{'SEARCHPROCESS' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterProcess.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterProcess=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead>
                                                <th translate="EDITUSERNAME"></th>
                                                <th translate="EDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody >
                                                <!--style="display:block; " height:200px; overflow-y: auto; overflow-x: hidden; -->
                                                <tr ng-repeat="process in processes | filter:processFilter track by process.name">
                                                   <td>
                                                      {{process.name}}
                                                   </td>
                                                   <td>
                                                      <div ng-repeat = "group in process.groupsWithAccess" class="badge ml-1" ng-style="generateHSLColour(group)" style="cursor: default;">
                                                         {{group}}
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="3" heading="{{'EDITUSERSECURITYTABCHORES' | translate}}" ng-click="getChoreSecurityPerUser()">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card-body pt-2">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <div class="card">
                                       <div class="card-header p-2">
                                          <div class="input-group">
                                             <span class="input-group-prepend">
                                                <label style="padding-right: 10px;" translate="EDITUSERSECURITYTABCHORES"></label>
                                             </span>
                                             <input type="text" class="form-control" ng-model="selections.filterChore" placeholder="{{'SEARCHCHORE' | translate}}">
                                             <span class="input-group-append">
                                                <button ng-disabled="!selections.filterChore.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterChore=''" disabled="disabled">
                                                   <i class="fa fa-fw fa-remove"></i>
                                                </button>
                                             </span>
                                          </div>
                                       </div>
                                       <div class="card-body pt-2">
                                          <table class="table table-hover table-sm">
                                             <thead>
                                                <th translate="EDITUSERNAME"></th>
                                                <th translate="EDITUSERGROUPS"></th>
                                             </thead>
                                             <tbody >
                                                <!--style="display:block; " height:200px; overflow-y: auto; overflow-x: hidden; -->
                                                <tr ng-repeat="chore in chores | filter: choreFilter track by chore.name">
                                                   <td>
                                                      {{chore.name}}
                                                   </td>
                                                   <td>
                                                      <div ng-repeat = "group in chore.groupsWithAccess" class="badge ml-1" ng-style="generateHSLColour(group)" style="cursor: default;">
                                                         {{group}}
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="4" heading="{{'EDITGROUPSECURITYTABCLIENTPROPERTIES' | translate}}" ng-click="">
                     <!-- WORK IN PROGRESS -->
                  </uib-tab>
                  <uib-tab index="5" heading="{{'EDITGROUPSECURITYTABCLIENTSETTINGS' | translate}}" ng-click="">
                     <!-- WORK IN PROGRESS -->
                  </uib-tab>
                  <uib-tab index="6" heading="{{'EDITGROUPSECURITYTABCAPABILITIES' | translate}}" ng-click="">
                     <!-- WORK IN PROGRESS -->
                  </uib-tab>
               </uib-tabset>
            </div>
         </div>
      </div>
   </div>
   
   <div class="modal-footer">
      <div class="row">
         <div class="col-sm-12">
            <button ng-class="{'btn btn-success' : view.messageSuccess, 'btn btn-warning' : view.messageWarning}" ng-if="view.message">
               <span ng-class="{'fa fa-check' : view.messageSuccess,'fa fa-warning' : view.messageWarning}" aria-hidden="true"></span><span>{{view.message}}</span>
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <button class="btn action ng-scope" ng-click="closeThisDialog()" translate="CANCEL"></button>
            <button class="btn btn-success action ng-scope" ng-click="updateUser(view.name, view.alias, view.password) &amp;&amp; closeThisDialog()" translate="SAVEUAG"></button>
         </div>
      </div>
   </div>


</div>