<div class="tm1-edit-group">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-pencil-square-o"></i>
         <span translate="EDITGROUPHEADING"></span>
         : {{newGroup.name}}
            
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-12 pt-2">
               <uib-tabset active="0">
                  <uib-tab index="0" heading="{{'EDITGROUPSECURITYTABAPPLICATIONS' | translate}}" >
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupApplication"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupApplications(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5 pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleApplication"
                                    uib-typeahead="name as application.Name for application in applicationsList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup,'applications', $item)"
                                    placeholder="{{'ADDGROUPAPPLICATION' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVEAPPLICATIONS' | translate}}" ng-click="deleteSelection('applications');">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="application in newGroup.applications | orderBy:'name'" >
                                             <div style="float:left;" class="mt-1">
                                                <div class="input-group">
                                                   <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                                      <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'applications', application.name)" title="{{'REMOVEAPPLICATION' | translate}}"></i></a>
                                                   </div>
                                                   <div class="badge" title="{{'ADDGROUPNEXTACCESS' | translate}}" ng-class="securityAccessColourMapping(application.access)" ng-click="nextAccess(newGroup, 'applications', application.name, application.access)" style="cursor: pointer; user-select: none;">{{application.access.substr(0,1)}}</div>
                                                   <div class="badge m-0" style="cursor: default; user-select: none;">
                                                      {{application.name}}
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="1" heading="{{'EDITGROUPSECURITYTABCUBES' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupCube"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupCubes(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5  pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleCube"
                                    uib-typeahead="name as cube.Name for cube in cubesList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'cubes', $item)"
                                    placeholder="{{'ADDGROUPCUBE' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary" title="{{'ADDGROUPREMOVECUBES' | translate}}" ng-click="deleteSelection('cubes');">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="cube in newGroup.cubes | orderBy:'name'" >
                                             <div style="float:left;" class="mt-1">
                                                <div class="input-group">
                                                   <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                                      <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'cubes', cube.name)" title="{{'REMOVECUBE' | translate}}"></i></a>
                                                   </div>
                                                   <div class="badge" title="{{'ADDGROUPNEXTACCESS' | translate}}" ng-if="cube.access!=='RESERVE'" ng-class="securityAccessColourMapping(cube.access)" ng-click="nextAccess(newGroup, 'cubes', cube.name, cube.access)" style="cursor: pointer; user-select: none;">{{cube.access.substr(0,1)}}</div>
                                                   <div class="badge" title="{{'ADDGROUPNEXTACCESS' | translate}}" ng-if="cube.access==='RESERVE'" ng-class="securityAccessColourMapping(cube.access)" ng-click="nextAccess(newGroup, 'cubes', cube.name, cube.access)" style="cursor: pointer; user-select: none;">{{cube.access.substr(5,1)}}</div>
                                                   <div class="badge m-0" style="cursor: default; user-select: none;">
                                                      {{cube.name}}
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="2" heading="{{'EDITGROUPSECURITYTABDIMENSIONS' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupDimension"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupDimensions(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5 pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleDimension"
                                    uib-typeahead="name as dimension.Name for dimension in dimensionsList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'dimensions', $item)"
                                    placeholder="{{'ADDGROUPDIMENSION' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVEDIMENSIONS' | translate}}" ng-click="deleteSelection('dimensions');">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="dimension in newGroup.dimensions | orderBy:'name'" >
                                             <div style="float:left;" class="mt-1">
                                                <div class="input-group" >
                                                   <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                                      <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'dimensions', dimension.name)" title="{{'REMOVEDIMENSION' | translate}}"></i></a>
                                                   </div>
                                                   <div class="badge" title="{{'ADDGROUPNEXTACCESS' | translate}}" ng-if="dimension.access!=='RESERVE'" ng-class="securityAccessColourMapping(dimension.access)" ng-click="nextAccess(newGroup, 'dimensions', dimension.name, dimension.access)" style="cursor: pointer; user-select: none;">{{dimension.access.substr(0,1)}}</div>
                                                   <div class="badge" title="{{'ADDGROUPNEXTACCESS' | translate}}" ng-if="dimension.access==='RESERVE'" ng-class="securityAccessColourMapping(dimension.access)" ng-click="nextAccess(newGroup, 'dimensions', dimension.name, dimension.access)" style="cursor: pointer; user-select: none;">{{dimension.access.substr(5,1)}}</div>
                                                   <div class="badge m-0" style="cursor: default; user-select: none;">
                                                      {{dimension.name}}
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="3" heading="{{'EDITGROUPSECURITYTABPROCESSES' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupProcess"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupProcesses(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5  pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleProcess"
                                    uib-typeahead="name as process.Name for process in processesList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'processes', $item)"
                                    placeholder="{{'ADDGROUPPROCESS' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVEPROCESSES' | translate}}" ng-click="deleteSelection('processes');">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="process in newGroup.processes | orderBy:'name'" >
                                             <div style="float:left;" class="mt-1">
                                                <div class="input-group">
                                                   <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                                      <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'processes', process.name)" title="{{'REMOVEPROCESS' | translate}}"></i></a>
                                                   </div>
                                                   <div class="badge" ng-class="securityAccessColourMapping(process.access)" style="cursor: default; user-select: none;">{{process.access.substr(0,1)}}</div>
                                                   <div class="badge m-0" style="cursor: default; user-select: none;">
                                                      {{process.name}}
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
                  <uib-tab index="4" heading="{{'EDITGROUPSECURITYTABCHORES' | translate}}">
                     <div class="card mt-2">
                        <div class="card-header pb-0">
                           <div class="row">
                              <div class="col-sm-5 pr-0">
                                 <input type="text" class="form-control " 
                                    ng-model="selectedCloneGroupChore"
                                    uib-typeahead="name as Group.Name for Group in groupsWithUsers | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addCloneGroupsToNewGroupChores(newGroup, $item.Name)"
                                    placeholder="{{'ADDGROUPCLONEGROUP' | translate}}">
                              </div>
                              <div class="col-sm-5 pl-2 pr-0">
                                 <input type="text" class="form-control"
                                    ng-model="selectedSingleChore"
                                    uib-typeahead="name as chore.Name for chore in choresList | filter:{Name : $viewValue} | limitTo:4"
                                    typeahead-on-select="addIndividualTm1SectionItemToNewGroup(newGroup, 'chores',$item)"
                                    placeholder="{{'ADDGROUPCHORE' | translate}}">
                              </div>
                              <div class="col-sm-2 pl-2 pr-2">
                                 <div class="toolbar">
                                    <div class="btn-toolbar pull-right" >
                                       <div class="btn-group">
                                          <button class="btn btn-secondary"  title="{{'ADDGROUPREMOVECHORES' | translate}}" ng-click="deleteSelection('chores');">
                                             <i class="fa fa-trash"></i>
                                          </button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                           <div class="row">
                              <div class="col-sm-12">
                                 <form>
                                    <div class="form-group row p-2">
                                       <div class="input-group">
                                          <div ng-repeat="chore in newGroup.chores | orderBy:'name'" >
                                             <div style="float:left;" class="mt-1">
                                                <div class="input-group">
                                                   <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                                      <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeTm1SectionItemFromNewGroup(newGroup, 'chores', chore.name)" title="{{'REMOVECHORE' | translate}}"></i></a>
                                                   </div>
                                                   <div class="badge" ng-class="securityAccessColourMapping(chore.access)" style="cursor: default; user-select: none;">{{chore.access.substr(0,1)}}</div>
                                                   <div class="badge m-0" style="cursor: default; user-select: none;">
                                                      {{chore.name}}
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </uib-tab>
               </uib-tabset>
            </div>
         </div>
      </div>
   </div>
   
   <div class="modal-footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-4">
               <div class="input-group">
                  <div class="badge" ng-class="securityAccessColourMapping('READ')">R</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     READ
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('WRITE')">W</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     WRITE
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('RESERVE')">V</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     RESERVE
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('LOCK')">L</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     LOCK
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('ADMIN')">A</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     ADMIN
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <button ng-class="{'btn btn-success':view.messageSuccess,'btn btn-warning':view.messageWarning}" ng-if="view.message">
                  <span ng-class="{'fa fa-check':view.messageSuccess,'fa fa-warning':view.messageWarning}" class="pr-1" aria-hidden="true"></span><span>{{view.message}}</span>
               </button>
            </div>
            <div class="col-md-4 pr-0">
               <div class="float-right">
                  <button class="btn btn-primary action ng-scope" ng-disabled="!newGroup.name.length > 0" ng-click="updateGroup()" translate="CREATEUAG"></button>                     
                  <button class="btn action ng-scope " ng-click="closeThisDialog()" translate="CANCEL"></button>
               </div>
            </div>
         </div>
      </div>


   </div>




</div>