<div class="tm1-editUser">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-pencil-square-o"></i>
         <span translate="EDITUSERHEADING"></span>
         : {{view.name}}
            
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row mb-2 tm1-activeUser">
            <div class="col-sm-12 mt-2">
               <a href class="btn btn-success btn-block" ng-if="view.active" ng-click="disconnectUser(view.name)" title="{{'EDITUSERDISCONNECT' | translate}}"  >
                  <div translate="EDITUSERISACTIVE"></div>
               </a>
            </div>
         </div>

         <div class="row mb-2 tm1-settings" style="cursor:pointer;">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="card">
                           <div class="card-header p-2" data-toggle="collapse" href="#collapseSettings">
                              <label style="cursor:pointer;" translate="EDITUSERSETTINGS"></label>
                           </div>
                           <div class="collapse" id="collapseSettings">
                              <div class="card-body">
                                    <div class="row">
                                       <div class="col-sm-6">
                                          <div>
                                             <label class="col-form-label" translate="ALIASUSER"></label>
                                             <input type="text" class="form-control form-control-sm" placeholder="{{view.alias}}"></input>
                                          </div>
                                       </div>
                                       <div class="col-sm-6">
                                          <div>
                                             <label for="userPassword" class="col-form-label" translate="EDITUSERPASSWORD"></label>
                                             <input id="userPassword" class="form-control form-control-sm" placeholder="{{view.userPassword}}"></input>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
   
               </div>
            </div>

         <div class="row mb-2 tm1-groups" style="cursor:pointer;">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-header p-2" data-toggle="collapse" href="#collapseGroups">
                           <label style="cursor:pointer;" translate="EDITUSERGROUPSASSIGNMENTS"></label>
                        </div>
                        <div class="collapse" id="collapseGroups">
                           <div class="card-body">
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <div class="card">
                                          <div class="card-header p-2">
                                             <label translate="EDITUSERGROUPSEXCLUDEDFROM"></label>
                                          </div>
                                          <div class="card-body">
                                             <div class="input-group mb-1">
                                                <input type="text" class="form-control" ng-model="temp1" placeholder="{{'SEARCHUAG' | translate}}">
                                                <span class="input-group-append">
                                                   <button ng-disabled="!options.availableFilter.length" class="btn btn-secondary" title="" ng-click="" disabled="disabled">
                                                      <i class="fa fa-fw fa-remove"></i>
                                                   </button>
                                                </span>
                                             </div>
                                             <div style="height: 250px; padding-right: 5px; overflow-y: scroll; overflow-x: hidden;">
                                                <!-- wip -->
                                             </div>
                                          </div>

                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="card">
                                          <div class="card-header p-2">
                                             <label translate="EDITUSERGROUPSMEMBEROF"></label>
                                          </div>
                                          <div class="card-body">
                                             <div class="input-group mb-1">
                                                <input type="text" class="form-control" ng-model="temp2" placeholder="{{'SEARCHUAG' | translate}}">
                                                <span class="input-group-append">
                                                   <button ng-disabled="!options.availableFilter.length" class="btn btn-secondary" title="" ng-click="" disabled="disabled">
                                                      <i class="fa fa-fw fa-remove"></i>
                                                   </button>
                                                </span>
                                             </div>
                                             <div style="height: 250px; padding-right: 5px; overflow-y: scroll; overflow-x: hidden;">
                                                <!-- wip -->
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>

         <div class="row mb-2 tm1-modelSecurities" style="cursor:pointer;">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-header p-2" data-toggle="collapse" href="#collapseModelSecurity">
                           <label style="cursor:pointer;" translate="EDITUSERMODELSECURITY"></label>
                        </div>
                        <div class="collapse" id="collapseModelSecurity">
                           <div class="card-body">
                              <div class="input-group mb-1">
                                 <uib-tabset active="selectedTab">
                                    <uib-tab index="0" heading="{{'EDITUSERSECURITYTABAPPLICATIONS' | translate}}"></uib-tab>
                                    <uib-tab index="1" heading="{{'EDITUSERSECURITYTABCUBES' | translate}}"></uib-tab>
                                    <uib-tab index="2" heading="{{'EDITUSERSECURITYTABDIMENSIONS' | translate}}"></uib-tab>
                                    <uib-tab index="3" heading="{{'EDITUSERSECURITYTABPROCESSES' | translate}}"></uib-tab>
                                    <uib-tab index="4" heading="{{'EDITUSERSECURITYTABCHORES' | translate}}"></uib-tab>
                                 </uib-tabset>
                                 <!-- <input type="text" class="form-control" ng-model="temp1" placeholder="{{'SEARCHUAG' | translate}}"> -->
                                 <!-- <span class="input-group-append"> -->
                                    <!-- <button ng-disabled="!options.availableFilter.length" class="btn btn-secondary" title="" ng-click="" disabled="disabled"> -->
                                       <!-- <i class="fa fa-fw fa-remove"></i> -->
                                    <!-- </button> -->
                                 <!-- </span> -->
                              </div>
                              <!-- <div style="height: 250px; padding-right: 5px; overflow-y: scroll; overflow-x: hidden;"></div> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>
   </div>
   
   <div class="modal-footer">
      <div class="row">
         <div class="col-sm-12">
            <button class="btn btn-warning" ng-if="view.message">
               <span class="fa fa-warning" aria-hidden="true"></span><span>{{view.message}}</span>
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <button class="btn action ng-scope" ng-click="closeThisDialog()" translate="CANCELEDITUSER">Cancel</button>
            <button class="btn btn-success action ng-scope" ng-click="updateUser() &amp;&amp; closeThisDialog()" translate="SAVEUSERCHANGES">Save</button>
         </div>
      </div>
   </div>


</div>