<div class="tm1-editUser">
   <div class="modal-header text-dark bg-white">
      <span>
         <i class="fa fa-pencil-square-o"></i>
         <span translate="EDITGROUPHEADING"></span>
         : {{view.name}}
            
      </span>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-12 pt-2">
               <uib-tabset active="0">
                  <uib-tab index="0" heading="{{'EDITGROUPSECURITYTABAPPLICATIONS' | translate}}"></uib-tab>
                  <uib-tab index="1" heading="{{'EDITGROUPSECURITYTABCUBES' | translate}}"></uib-tab>
                  <uib-tab index="2" heading="{{'EDITGROUPSECURITYTABDIMENSIONS' | translate}}"></uib-tab>
                  <uib-tab index="3" heading="{{'EDITGROUPSECURITYTABPROCESSES' | translate}}"></uib-tab>
                  <uib-tab index="4" heading="{{'EDITGROUPSECURITYTABCHORES' | translate}}"></uib-tab>
               </uib-tabset>
            </div>
         </div>
      </div>
   </div>
   
   <div class="modal-footer">
      <div class="row">
         <div class="col-sm-12">
            <button class="btn btn-warning" ng-if="view.message">
               <span class="fa fa-warning" aria-hidden="true"></span><span>{{view.message}}</span>
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <button class="btn action ng-scope" ng-click="closeThisDialog()" translate="{{'CANCELUAG' | translate}}"></button>
            <button class="btn btn-success action ng-scope" ng-click="updateGroup(view.name) &amp;&amp; closeThisDialog()" translate="{{'SAVEUAG' | translate}}"></button>
         </div>
      </div>
   </div>


</div>