<div class="tm1-auditUser">
   <div class="modal-header text-dark bg-white">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-6">
               <i class="fa fa-unlock-alt"></i>
               <span translate="">ElementSecurity</span>
               : {{view.dimensionName}} 
            </div>
            <div class="col-sm-6">
               <i class="fa fa-users"></i>
               <span translate="">For User</span>
               : {{view.userName}}
            </div>
         </div> 
      </div>
   </div>

   <div class="modal-body p-0 m-0">
      <div class="container-fluid">
         <div class="row mb-2">
            <div class="col-sm-6 pt-2">
               <div class="card">
                  <div class="card-header">
                     <div class="row">
                        <div class="col-sm-2" >
                           <label translate="{{'ELEMENTSECURITYGROUPS' | translate}}"></label>
                        </div>
                        <div class="col-sm-9">
                           <div class="input-group">
                              <input type="text" class="form-control " 
                                 ng-disabled=""
                                 ng-model="selectedUser"
                                 uib-typeahead="name as Group.name for Group in view.userGroups | filter:{name : $viewValue} | limitTo:4"
                                 typeahead-on-select="addToFilter(view.userGroupsFilter, $item)"
                                 placeholder="{{'ELEMENTSECURITYADDGROUP' | translate}}">
                              <span class="input-group-append">
                                 <button class="btn btn-secondary"  title="{{'ELEMENTSECURITYRELOADGROUPS' | translate}}" ng-click="reloadGroups();">
                                    <i class="fa fa-refresh"></i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <div class="col-sm-1 pl-0">
                           <div class="toolbar">
                              <div class="btn-toolbar pull-right" >
                                 <div class="btn-group">
                                    <button class="btn btn-secondary"  title="{{'ELEMENTSECURITYREMOVEGROUPS' | translate}}" ng-click="removeAllUserGroups();">
                                       <i class="fa fa-trash"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-body pt-0" style="display:block; height:170px; overflow-y:auto; width:100%;">
                     <div class="row">
                        <div class="col-sm-12">
                           <div ng-repeat = "group in view.userGroupsFilter | orderBy:'name'">
                              <div  style="float:left;" class="mt-1">
                                 <div class="input-group">
                                    <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                       <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeFromFilter(view.userGroupsFilter, group)" title="{{'ELEMENTSECURITYREMOVEGROUP' | translate}}"></i></a>
                                    </div>
                                    <div class="badge m-0 pl-0 pr-1" style="cursor: default; user-select: none;">
                                       <a><i class="fa fa-search text-primary" ng-click="focusOnGroup(group)" title="{{'ELEMENTSECURITYSELECTGROUP' | translate}}"></i></a>
                                    </div>
                                    <div class="badge" ng-class="securityAccessColourMapping(group.access)" style="cursor: default; user-select: none;">{{group.access.substr(0,1)}}</div>
                                    <div class="badge m-0 pl-1" style="cursor: default; user-select: none;">
                                       {{group.name}}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 pt-2">
               <div class="card">
                  <div class="card-header">
                     <div class="row">
                        <div class="col-sm-2" >
                           <label translate="{{'ELEMENTSECURITYELEMENTS' | translate}}"></label>
                        </div>
                        <div class="col-sm-9">
                           <div class="input-group">
                              <input type="text" class="form-control " 
                                 ng-disabled=""
                                 ng-model="selectedElement"
                                 uib-typeahead="name as Element.name for Element in view.elementsWithGroupsAndSecurity | filter:{name : $viewValue} | limitTo:4"
                                 typeahead-on-select="addToFilter(view.elementsWithGroupsAndSecurityFilter, $item)"
                                 placeholder="{{'ELEMENTSECURITYADDELEMENT' | translate}}">
                              <span class="input-group-append">
                                 <button class="btn btn-secondary"  title="{{'ELEMENTSECURITYRELOADELEMENTS' | translate}}" ng-click="reloadElements();">
                                    <i class="fa fa-refresh"></i>
                                 </button>
                              </span>
                           </div>
                        </div>
                        <div class="col-sm-1 pl-0">
                           <div class="toolbar">
                              <div class="btn-toolbar pull-right" >
                                 <div class="btn-group">
                                    <button class="btn btn-secondary" title="{{'ELEMENTSECURITYREMOVEELEMENTS' | translate}}" ng-click="removeAllElements();">
                                       <i class="fa fa-trash"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-body pt-0" style="display:block; height:170px; overflow-y:auto; width:100%;">
                     <div class="row">
                        <div class="col-sm-12">
                           <div ng-repeat="element in view.elementsWithGroupsAndSecurityFilter | orderBy:'name'" >
                              <div style="float:left;" class="mt-1">
                                 <div class="input-group">
                                    <div class="input-group">
                                       <div class="badge m-0 pl-0 pr-0" style="cursor: default; user-select: none;">
                                          <a><i class="fa fa-fw fa-remove text-danger" ng-click="removeFromFilter(view.elementsWithGroupsAndSecurityFilter, element)" title="{{'ELEMENTSECURITYREMOVEELEMENT' | translate}}"></i></a>
                                       </div>
                                       <div class="badge m-0 pl-0 pr-1" style="cursor: default; user-select: none;">
                                          <a><i class="fa fa-search text-primary" ng-click="focusOnElement(element)" title="{{'ELEMENTSECURITYSELECTELEMENT' | translate}}"></i></a>
                                       </div>
                                       <div class="badge m-0 pl-0" style="cursor: default; user-select: none;">
                                          {{element.name}}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mb-2">
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-header pb-0">
                     <div class="row">
                        <div class="col-sm-11 pr-0" >
                           <label translate="{{'ELEMENTSECURITYACCESSPRIVELAGES' | translate}}"></label>
                        </div>
                        <div class="col-sm-1 pl-0">
                           <div class="toolbar">
                              <div class="btn-toolbar pull-right" >
                                 <div class="btn-group">
                                    <button class="btn btn-secondary"  title="{{'ELEMENTSECURITYREFRESHACCESSPRIVELAGES' | translate}}" ng-click="refreshAccessPrivelages();">
                                       {{'ELEMENTSECURITYREFRESHACCESSPRIVELAGES' | translate}}
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card-body pt-0" style="display:block; height:300px; overflow-y:auto; width:100%;">
                     <div class="row">
                        <div class="col-sm-12">
                           <div ng-repeat="element in view.accessPrivelages | orderBy:'name'" >
                              <div ng-repeat="group in element.groupsWithAccess | orderBy:'name'" >
                                 <div style="float:left;" class="mt-1 pr-2">
                                    <div class="input-group">
                                       <div class="badge m-0 pl-0 pr-1" style="cursor: default; user-select: none;">
                                          <a><i class="fa fa-circle text-danger" style="font-size: 5px; vertical-align: middle;"></i></a>
                                       </div>
                                       <div class="badge" ng-class="securityAccessColourMapping(group.access)" style="cursor: default; user-select: none;">
                                          {{group.access.substr(0,1)}}
                                       </div>
                                       <div class="badge m-0 pr-0" style="cursor: default; user-select: none;" title="{{'ELEMENTSECURITYACCESSPRIVELAGESCHECKRULE' | translate}}" ng-click="getTm1Rule(view.dimensionName, element.name, group.name);">
                                          <a href>
                                             {{element.name}}
                                          </a>
                                       </div>
                                       <div class="badge ml-0"  style="cursor: default; user-select: none;">
                                          {{group.name}}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   

   <div class="modal-footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-5">
               <div class="input-group">
                  <div class="badge" ng-class="securityAccessColourMapping('READ')">R</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     READ
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('WRITE')">W</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     WRITE
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('RESERVE')">V</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     RESERVE
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('LOCK')">L</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     LOCK
                  </div>
                  <div class="badge" ng-class="securityAccessColourMapping('ADMIN')">A</div>
                  <div class="badge m-0" style="cursor: default; user-select: none;">
                     ADMIN
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <button ng-class="{'btn btn-success':view.messageSuccess,'btn btn-warning':view.messageWarning}" ng-if="view.message">
                  <span ng-class="{'fa fa-check':view.messageSuccess,'fa fa-warning':view.messageWarning}" aria-hidden="true"></span><span>{{view.message}}</span>
               </button>
            </div>
            <div class="col-md-4 pr-0">
               <div class="float-right">
                  <button class="btn action ng-scope " ng-click="closeThisDialog()" translate="BACKUAG"></button>
               </div>
            </div>
         </div>
      </div>


   </div>


</div>