
<!-- <div class="tm1-usersGroups"> -->
<div>

  <!-- SECTION: TOOLBAR -->
  <div class="toolbar">
    <label class="page-title">
      <i class="fa fa-sitemap"></i> {{instance | uppercase}}:<span translate="Manage User and Group Accounts"></span>
    </label>
    
    <button class="btn btn-warning" ng-if="message"><!-- if there is an error with a $http call, show message -->
        <span class="fa fa-warning" aria-hidden="true"></span> <span>{{message}}</span>
    </button>

  </div>
  
  <!-- USER TABLE -->
  <div>
    <form name="outerForm" class="">
      <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Users"><!-- USERS TAB-->
          <div class="row"><!-- USERS TAB:selections-->
            <div class="col-4">
              <div class="input-group">
                  <!-- search input -->
                  <!-- <label style="padding-right: 10px;">Name</label> -->
                  <input type="text" ng-model="selections.filter" placeholder="{{'SEARCH' | translate}}" class="form-control" style="display:inline; width: 100px;" />

                  <span class="input-group-append"><!-- search clear -->
                    <button ng-disabled="!selections.filter.length" class="btn btn-secondary" title="{{'CLEAR' | translate}}" ng-click="selections.filter = ''">
                      <i class="fa fa-fw fa-remove"></i>
                    </button>
                  </span>

              </div>
            </div>

            <div class="col-8">
                <button class="btn btn-secondary" ng-class="{'btn-active': activeOnly}" title="{{'Add or remove a user' | translate}}" ng-click="toggleActiveOnly()">
                  Add
                  <i class="fa fa-fw fa-cogs"></i>
                </button>
            </div>


          </div>

          <div class="row" style="padding-left: 10px; padding-top: 10px;"><!-- USERS TAB: table -->
              <!-- {{users}} -->
              <auto-height>
                <div class="card">
                  <div class="card-body">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th style="width: 40px;" translate="Name"></th>
                          <th translate="FriendlyName" ></th>
                          <th translate="Type" ></th>
                          <th translate="IsActive" ></th>
                          <th translate="Groups" ></th>
                          <th translate="Edit" ></th>
                          <th translate="Select" ></th>


                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="user in users | filter:listFilter track by $index">
                        <!-- <tr ng-repeat="user in users | filter:listFilter track by item.ID"> -->
                          <td style="width: 40px;">{{user.Name}}</td>
                          <td>{{user.FriendlyName}}</td>
                          <td>{{user.Type}}</td>
                          <td>{{user.IsActive}}</td>
                          <td>{{user.Groups}}</td>
                          <td>
                            <button class="btn btn-secondary" ng-class="{'btn-active': activeOnly}" title="" ng-click="editUserModal()">
                              <i class="fa fa-edit"></i>
                            </button>
                          </td>
                          <td>
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </auto-height>

          </div>
        </uib-tab>



        <uib-tab index="1" heading="Groups"><!-- GROUPS TAB -->
          Groups information...
        </uib-tab>
      </uib-tabset>
    </form>
  </div>

</div>

  
</div>