<div class="tm1-usersGroups">
   <div class="tm1-usersGroups-Heading">
      <div class="toolbar">
         <label class="page-title">
            <i class="fa fa-sitemap"></i> {{instance | uppercase}}:<span translate="MANAGEUAG"></span>
         </label>
         <button class="btn btn-warning" ng-if="message">
            <span class="fa fa-warning" aria-hidden="true"></span><span>{{message}}</span>
         </button>
      </div>
   </div>

   <div class="tm1-usersGroups-Body">
      <uib-tabset active="selectedTab">
         <uib-tab index="0" heading="{{'TABUSERS' | translate}}" class="tm1-usersTab">
            <div class="row" class="tm1-usersTab-Tools">
               <div class="col-4">
                  <div class="input-group">
                     <input type="text" ng-model="selections.filterUser" placeholder="{{'SEARCHUSER' | translate}}" class="form-control" style="display:inline;" />
                     <span class="input-group-append">
                        <button ng-disabled="!selections.filterUser.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterUser = ''">
                           <i class="fa fa-fw fa-remove"></i>
                        </button>
                     </span>
                  </div>
               </div>
               <div class="col-4">
                  <div class="input-group">
                     <input type="text" ng-model="selections.filterGroup" placeholder="{{'SEARCHGROUP' | translate}}" class="form-control" style="display:inline;" />
                     <span class="input-group-append">
                        <button ng-disabled="!selections.filterGroup.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filterGroup = ''">
                           <i class="fa fa-fw fa-remove"></i>
                        </button>
                     </span>
                  </div>
               </div>
               <div class="col-4">
                     <div class="toolbar">
                        <div class="btn-toolbar pull-right" style="margin-bottom: 10px;">
                           <div class="btn-group">
                              <button class="btn btn-primary"  title="{{'ADDUSER' | translate}}" ng-click="addUser()">
                                 <i class="fa fa-plus"></i>
                              </button>
                           </div>
                        </div>
                     </div>
               </div>
            </div>

            <div class="row" class="tm1-usersTab-Table">
               <div class="col-12">
                  <auto-height>
                     <div class="card">
                        <div class="card-body">
                           <table class="table table-hover table-sm">
                              <thead>
                              <tr>
                                 <th style="width: 40px;" translate="NAMEUSER"></th>
                                 <th style="width: 40px;" translate="ALIASUSER"></th>
                                 <th style="width: 40px;" translate="ADDGROUP"></th>
                                 <th translate="GROUPSUSER" ></th>
                                 <th style="width: 2px;"></th>
                              </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="user in usersWithGroups | filter:listFilter track by $index">
                                    
                                    <td class="align-top" style="width: 40px;" title="{{'EDITUSERHEADING' | translate}}" >
                                       <a href  ng-click="editUser($index)" class="form-control form-control-sm" style="color:#007bff;">
                                          {{user.Name}}
                                       </a>
                                    </td>

                                    <td>
                                       <input type="text" class="form-control form-control-sm" ng-model="usersWithGroups[$index].FriendlyName" style="width:100%;vertical-align: top;">
                                    </td>
                                    <td>
                                       <input type="text" class="form-control form-control-sm"
                                              ng-model="selectedGroup"
                                              uib-typeahead="name as Group.Name for Group in Groups | filter:$viewValue | limitTo:8"
                                              typeahead-on-select="addUserToGroup(user.FriendlyName, $item.Name, user.Groups)"
                                              placeholder="{{'TYPEGROUP' | translate}}"
                                               >
                                    </td>
                                    <td style="width:500px;">
                                       <div ng-repeat="group in user.Groups | orderBy:'Name' track by $index " >
                                          <div style="float:left;">
                                             <a class="badge ml-1" title="{{'REMOVEUSERFROMGROUP' | translate}}" ng-style="generateHSLColour(group.Name)" ng-click="removeUserFromGroup(user.Name,group.Name)">
                                                <i class="fa fa-fw fa-remove" ></i>
                                                {{group.Name}}
                                             </a>
                                          </div>
                                       </div>
                                    </td>
                                    <td>
                                       <span style="float:right;">
                                          <button class="btn-toolbar btn btn-sm btn-danger"  title="{{'REMOVEUSER' | translate}} {{user.Name}}" ng-click="deleteUser(user.Name)">
                                             <i class="fa fa-remove"></i>
                                          </button>
                                       </span>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </auto-height>
               </div>
            </div>
         </uib-tab>

         <uib-tab index="1" heading="{{'TABGROUPS' | translate}}" class="tm1-groupsTab">
            <!-- WORK IN PROGRESS -->
            <div class="row" class="tm1-groupsTab-Tools">
               <div class="col-4">
<!--                   <div class="input-group">
                     <input type="text" ng-model="selections.filter" placeholder="{{'SEARCHUAG' | translate}}" class="form-control" style="display:inline; width: 100px;" />

                     <span class="input-group-append">
                        <button ng-disabled="!selections.filter.length" class="btn btn-secondary" title="{{'CLEARUAG' | translate}}" ng-click="selections.filter = ''">
                           <i class="fa fa-fw fa-remove"></i>
                        </button>
                     </span>

                  </div> -->
               </div>

               <div class="col-8">
<!--                   <div class="toolbar">
                     <div class="btn-toolbar pull-right" style="margin-bottom: 10px;">
                        <div class="btn-group">
                           <button class="btn btn-primary"  title="{{'ADDUSER' | translate}}" ng-click="addUser()">
                              <i class="fa fa-plus"></i>
                           </button>
                           <button class="btn btn-danger"  title="{{'REMOVEUSER' | translate}}" ng-click="">
                              <i class="fa fa-fw fa-trash"></i>
                           </button>
                        </div>
                     </div>
                  </div> -->
               </div>
            </div>

            <div class="row" class="tm1-groupsTab-Table">
               <div class="col-12">
                  <auto-height>
                     <div class="card">
                        <div class="card-body">
                           <table class="table table-hover table-sm">
                              <thead>
                              <tr>
                                 <th style="width: 40px;" translate="NAMEGROUP"></th>
                                 <!-- <th style="width: 40px;" translate="ALIASUSER" ></th> -->
                                 <!-- <th translate="USERGROUPS" ></th> -->
                              </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="group in Groups | filter:listFilter track by $index">
                                    <td class="align-top" style="width: 40px;" title="{{'EDITGROUPHEADING' | translate}}" >
                                       <a href  ng-click="editUser($index)" class="form-control form-control-sm" style="color:#007bff;">
                                          {{group.Name}}
                                       </a>
                                    </td>
                                    <!-- <td> -->
                                       <!-- <input type="text" class="form-control form-control-sm" ng-model="usersWithGroups[$index].FriendlyName" style="width:100%;vertical-align: top;"> -->
                                    <!-- </td> -->
<!--                                     <td style="width:500px;">
                                       <div ng-repeat="group in user.Groups track by $index " >
                                          <div style="float:left;">
                                             <a class="badge ml-1" title="{{'REMOVEUSERFROMGROUP' | translate}}" ng-style="generateHSLColour(group.Name)" ng-click="removeUserFromGroup(user.Name,group.Name)">
                                                <i class="fa fa-fw fa-remove" ></i>
                                                {{group.Name}}
                                             </a>
                                          </div>
                                       </div>
                                    </td> -->
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </auto-height>
               </div>
            </div>
         </uib-tab>
      </uib-tabset>
   </div>
</div>


