
<!-- <div class="tm1-usersGroups"> -->
<div>

  <!-- SECTION: TOOLBAR -->
  <div class="toolbar">
    <label class="page-title">
      <i class="fa fa-sitemap"></i> {{instance | uppercase}}:<span translate="Manage User and Group Accounts"></span>
    </label>
    
  </div>
  
  <!-- USER TABLE -->
  <div>
    <form name="outerForm" class="">
      <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Users"><!-- USERS TAB-->
          <div class="row"><!-- USERS TAB:selections-->
            <div class="col-4">
              <div class="input-group">
                  <label style="padding-right: 10px;">Name</label><!-- search input -->
                  <input type="text" ng-model="selections.filter" placeholder="{{'SEARCH' | translate}}" class="form-control" style="display:inline; width: 100px;" />

                  <span class="input-group-append"><!-- search clear -->
                    <button ng-disabled="!selections.filter.length" class="btn btn-secondary" title="{{'CLEAR' | translate}}" ng-click="selections.filter = ''">
                      <i class="fa fa-fw fa-remove"></i>
                    </button>
                  </span>

              </div>
            </div>

            <div class="col-8">
                <button class="btn btn-secondary" ng-class="{'btn-active': activeOnly}" title="{{'Add or remove a user' | translate}}" ng-click="toggleActiveOnly()">
                  Add / Remove
                  <i class="fa fa-fw fa-cogs"></i>
                </button>
            </div>


          </div>

          <div class="row" style="padding-left: 10px; padding-top: 10px;"><!-- USERS TAB: table -->
              <!-- {{users}} -->
              <auto-height>
                <div class="card">
                  <div class="card-body">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th style="width: 40px;" translate="Principal Name"></th>
                          <th translate="Alias" ></th>
                          <th translate="Groups" ></th>
                          <th translate="User Level" ></th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="user in users | filter:listFilter track by $index">
                        <!-- <tr ng-repeat="user in users | filter:listFilter track by item.ID"> -->
                          <td style="width: 40px;">{{user.principalName}}</td>
                          <td>{{user.alias}}</td>
                          <td>{{user.groups}}</td>
                          <td>{{user.userLevel}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </auto-height>

          </div>
        </uib-tab>



        <uib-tab index="1" heading="Groups"><!-- GROUPS TAB -->
          Groups information...
        </uib-tab>
      </uib-tabset>
    </form>
  </div>

</div>



<!-- <div class="tm1-threads"> -->
  
<!--   <div class="toolbar">  

    <label class="page-title">
      <i class="fa fa-users"></i> {{instance | uppercase}}:<span translate="THREADS"></span>
    </label>

    <div class="btn-toolbar pull-right">
      <button class="btn btn-warning" ng-if="message">
          <span class="fa fa-warning" aria-hidden="true"></span> <span>{{message}}</span>
      </button>
      <div class="input-group">
          <span class="input-group-prepend">
            <span class="input-group-text">
              {{now | date:'mediumTime'}}
            </span>
          </span>
        <input type="text" ng-model="selections.filter" placeholder="{{'SEARCH' | translate}}" class="form-control" style="display:inline; width: 200px;" />
        <span class="input-group-append">
          <button class="btn btn-secondary" ng-class="{'btn-active': activeOnly}" title="{{'ACTIVEONLY' | translate}}" ng-click="toggleActiveOnly()">
            <i class="fa fa-fw fa-cogs"></i>
          </button>
        </span>
        <span class="input-group-append">
          <button class="btn btn-secondary" ng-class="{'btn-active': isPaused}" title="{{'PAUSE' | translate}}" ng-click="togglePaused()">
            <i class="fa fa-fw fa-pause" ng-if="!isPaused"></i>
            <i class="fa fa-fw fa-play" ng-if="isPaused"></i>
          </button>
        </span>
        <span class="input-group-append">
          <button ng-disabled="!selections.filter.length" class="btn btn-secondary" title="{{'CLEAR' | translate}}" ng-click="selections.filter = ''">
            <i class="fa fa-fw fa-remove"></i>
          </button>
        </span>
      </div>
    </div>
    
  </div> -->
  
<!--   <auto-height>

    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th style="width: 30px;" translate="ID"></th>
              <th translate="TYPE" ></th>
              <th translate="NAME" ></th>
              <th translate="STATE" ></th>
              <th translate="FUNCTION" ></th>
              <th translate="OBJECTTYPE" ></th>
              <th translate="OBJECTNAME" ></th>
              <th class="text-center" translate="ELAPSEDTIME" ></th>
              <th class="text-center" translate="WAITTIME" ></th>
              <th translate="CONTEXT" ></th>
              <th translate="INFO" ></th>
              <th class="text-center" translate="CANCEL" ></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in threads | filter:listFilter track by item.ID">
              <td style="width: 30px;">{{item.ID}}</td>
              <td>{{item.Type}}</td>
              <td>{{item.Name}}</td>
              <td>{{item.State}}</td>
              <td>{{item.Function}}</td>
              <td>{{item.ObjectType}}</td>
              <td>{{item.ObjectName}}</td>
              <td class="text-center">{{item.ElapsedTimeS}}</td>
              <td class="text-center">{{item.WaitTimeS}}</td>
              <td>{{item.Context}}</td>
              <td>{{item.Info}}</td>
              <td class="text-center">
                <button class="btn btn-warning btn-sm" ng-disabled="!item.canCancel" ng-click="cancelThread(item.ID)"><i class="fa fa-minus-circle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </auto-height> -->
  
</div>